aiohttp
aiofiles
asyncio
cryptography
dnspython
ffmpeg-python
future
gitpython
heroku3
hurry.filesize
motor
pillow
psutil
pyromod
pyrogram==1.4.7
python-dotenv
py-tgcalls==0.8.2
requests
search-engine-parser
tgcrypto
uvloop
wget
youtube-search-python
youtube-search
yt-dlp
